body {
  background-color: #fdfdfd;
  font-family: "Nobile", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.logo {
  color: #343a40;
  font-size: 1.3em;
  font-weight: bolder;
  letter-spacing: 5px;
  height: 45px;
  line-height: 45px;
  text-transform: uppercase;
  text-shadow: 2px 0px #fff;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*----------NAVBAR---------*/

.custom-nav {
  z-index: 100;
}

.custom-nav-items a {
  margin: 10px 0 !important;
}

.custom-nav-items a:hover {
  color: white !important;
}

/*----------JUMBOTRON----------*/

.jumbotron {
  display: flex;
  align-items: center;
  justify-content: center;
}

.jumbotron .name {
  font-size: 4em;
  letter-spacing: 3px;
  font-weight: normal;
}

.jumbotron .title {
  font-size: 2em;
}

#header {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/devstationbest.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*------------ABOUT----------*/

.about {
  font-size: 1.3em;
  line-height: 2;
}

h2 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.about p {
  font-size: 0.8em;
  margin: 20px 0px;
}

/*------------WORK----------*/

#work {
  width: 100vw;
  font-weight: 300;
  position: relative;
  background-image: url("../images/desk.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 50px;
}

.card {
  margin: 10px auto;
  min-height: 300px;
  max-width: 300px;
  transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
}

.card .card-subtitle {
  font-size: 1.2em;
  line-height: 1.6em;
}

.card .card-text {
  font-size: 0.9em;
  line-height: 1.6em;
}

.card .card-text {
  font-size: 0.9em;
  line-height: 1.6em;
}

.github-icon {
  padding: 20px 0;
  border-radius: 50%;
  font-size: 40px;
  width: 54px;
  height: 54px;
  line-height: 15px;
}
*/

/*--------SKILLS-----------*/

.arc1 {
  width: 160px;
  height: 160px;
  background: #564f6f;
  -webkit-transform-origin: -51% 91%;
  margin-left: -35px;
  margin-top: -53px;
  -webkit-transform: translate(-64px, 50px);
  -moz-transform: translate(-64px, 50px);
  -o-transform: translate(-64px, 50px);
}

.arc2 {
  margin-left: -115px;
  width: 193px;
  height: 177px;
  background: #564f6f;
  -webkit-transform: skew(55deg, 0deg);
  -moz-transform: skew(55deg, 0deg);
  -o-transform: skew(55deg, 0deg);
  position: absolute;
  -webkit-transition: all 0.5s linear;
}

#html-load2 {
  margin-top: -160px;
}

#css-load2 {
  margin-top: -150px;
}

#js-load2 {
  margin-top: -165px;
}

#py-load2 {
  margin-top: -145px;
}

.arc-wrapper {
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  background: #d3d3d3;
  overflow: hidden;
}

.arc-overlay {
  width: 110px;
  height: 110px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 110px;
  background-color: #fafafa;
  border-radius: 50%;
  z-index: 1;
}

.arc-container {
  margin: 20px auto;
  position: relative;
  height: 120px;
  width: 120px;
  background: red;
  border-radius: 50%;
  overflow: hidden;
}

/*-------CONTACT-----------*/

#contact {
  background-image: url("../images/computer.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* ----------Contact Form  Modal --------*/

.modal-body {
  font-size: 1.15em;
}

.btn-default {
  background-color: #ccc;
}

.privacy-policy {
  color: #424242;
  font-family: "Nobile", sans-serif;
  padding: 0;
}

footer .icon {
  margin: 10px;
  display: block;
  flex: 0 0 50px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 1.3em;
  border-radius: 50%;
  border: solid 1px #ccc;
}

footer .icon:hover {
  color: #555 !important;
}

/*-----------MEDIA QUERIES----------*/

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  body {
    background: #999;
    width: 100%;
  }
}
